body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #f8f9fa;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-wrapper {
    margin-top: 60px;
}

.section-left {
    border: 1px solid gray;
    width:20%;
}

.section-right {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    width:80%;
}

.table-container tr td i {
    margin-left: 20px;
}

.table-container tr td a {
    text-decoration: none;
    color: black;
}

.table-container tr td:hover a {
    text-decoration: none;
    color: red;
}

.nav-table {
    width: 100%;
}

.nav-table tr {
    height: 40px;
    border-bottom: 1px solid gray;
}

.table-list{
    margin:20px;
}
#table-img {
    width: 80px;
    height: 80px;
    text-align:center;
}
.create-container{
    width:45%;
    margin:0 auto;
}
a{
    color:black;
}

.active{
    color:red;
}