@using EmployeesManager.ViewModels
@using ServiceContracts.DTO

@{
    ViewBag.Title = "Create";
}
@model EmployeeAddRequest

<div class="create-container p-5 shadow rounded">

    <form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="FirstName">First Name: </label>
            <input asp-for="FirstName" class="form-control" placeholder="Enter first name">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name: </label>
            <input asp-for="LastName" class="form-control" placeholder="Enter last name">
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email : </label>
            <input asp-for="Email" class="form-control" placeholder="Enter email">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Mobile">Moblie : </label>
            <input asp-for="Mobile" class="form-control" placeholder="Enter mobile number">
            <span asp-validation-for="Mobile"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth">Date of birth : </label>
            <input asp-for="DateOfBirth" class="form-control" placeholder="Date of birth">
            <span asp-validation-for="DateOfBirth"></span>
        </div>
        <div class="form-group">
            <label for="file">Image</label>
            <input id="file" name="file" class="form-control" type="file" />
        </div>
        <br />
        <button  type="submit" class="btn btn-primary w-100"> Submit</button>

    </form>
</div>
